* {
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    margin-right: 7px;
}

/* header */

.header-section {
    background-image: url('images/banner/banner1.png');
    background-position: center;
    background-size: cover;
    width: 1519px;
    height: 762px;
}

.header-title{
    color: var(--Dark-01, #151414);
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-right: 230px;
    margin-left:800px ;
    padding-top:216px;
}

.header-discreption{
    color: var(--Dark-02, #444343);
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 230px;
    margin-left:800px ;
    margin-top: 24px;
}

#hero-btn{
    margin-left: 1110px;
    margin-right: 230px;
    margin-top: 24px;
}

/* main section */

.main-banner-section{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    gap: 100px;
}

.main-banner-image{
    width: 451px;
    height: 898px;
}

.main-banner-text{
    margin-left: 280px;
    margin-top: 300px;
}

.main-banner-heading{
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    margin-right: 250px;
}

.main-banner-contain{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 270px;
    margin-top: 25px;
}

.list{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 15px;
    margin-top: 25px;
}

.img-background{
    /* display: in; */
    width: 527.929px;
    height: 527.929px;
    background: rgba(241, 93, 34, 0.379);
    border-radius: 50%;
    position: absolute;
    top: 195px;
    left: 20px;
    bottom: 30px;
    z-index: -1;

}

.fig{
    position: relative;
    margin-left: 180px;
}

/* .image-1{
    z-index: 2;
} */

/* plans */

.my-plans{
    margin-bottom: 130px;
}

.plans-heading{
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.plan-image{
    width: 92.958px;
    height: 92.958px;
}

.plan-element{
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 40px;
    /* gap: 30px; */
}

.plan-img-text{
    text-align: center;
}

.plan-big-img{
    background-image: url('images/watch.png');
    background-repeat: no-repeat;
    margin-top: 130px;
    margin-right: 220px;
    margin-left: 220px;
}

/* footer */

.footer{
    /* margin-bottom: 50px; */
    background: var(--Dark-01, #151414);
}

.footer-text{
    margin-left: 230px;
    /* margin-top: 130px;
    margin-bottom: 130px; */
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer-text-heading{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    /* padding-top: 130px; */
}

.footer-big-text{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    max-width: 500px;
}

.email{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.phone{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    /* margin-bottom: 130px; */
}

.icon{
    margin-top: 16px;
    width: 175px;
    height: 46px;
}

.icon a{
    margin-right: 7px;
}

.footer-form-heading{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-top: 140px;
    margin-right: 300px;
}

.main-footer{
    display: flex;
    justify-content: space-between;
}

.input-email{
    margin-top: 31px;
    margin-right: 220px;
    width: 325px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #FFF;
    padding-left: 18px;
}

#sub-btn{
    margin-top: 16px;
}